.accountWrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  align-content: center;
}

.accountWrapper h1 {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input div {
  margin: .15rem  0rem ;
}

.inputRow div {
  margin: 0rem 0.15rem   ;
}

.inputRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 50rem;
}

.hidden {
  display: none;
}
