.container {
  position: relative;
  background-color: #36454f;
  color: white;
  padding: 0.1rem;
  border-radius: 1rem;
}

.heading {
  margin: 1rem;
}

.newButton {
  color: white;
  position: relative;
}

.newButton:hover {
  border-radius: 0.25rem 0.25rem 0rem 0rem;
}

.navButtons {
  color: white;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  background-color: #36454f;
  box-shadow: 0.1rem 0.1rem rgb(60, 60, 60);
  border-radius: 0rem 0rem 1rem 1rem;
}

.buttonDiv {
  display: flex;
  justify-content: flex-end;
  width: fit-content;
  position: absolute;
  top: 10%;
  right: 0;
}

.button-slide-enter {
  transition: all 0.3s ease-out;
  height: 0;
}

.button-slide-enter-active {
  visibility: visible;
  height: fit-content;
}

.button-slide-exit {
  transition: all 0.3s ease-out;
  height: fit-content;
}
.button-slide-exit-active {
  visibility: hidden;
  height: 0;
}
