.container {
  margin: 5px auto;
  margin-bottom: 50px;
  width: fit-content;
  max-width: 75%;
}

.nameTable {
  width: 100%;
}

.table {
  min-width: 30vw;
  max-width: 75vw;
  text-align: center;
}

.headerRow {
  color: White;
  background-color: #25383c;
  th {
    color: White;
    font-weight: Bold;
    font-size: 0.75vw;
    width: fit-content;
  }

  select {
    font-weight: normal;
  }
}

.nameRow {
  color: White;
  background-color: #36454f;
}

.nameRowDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.button {
  color: white;
}

.titleCell {
  font-weight: Bold;
  font-size: 0.75vw;
  width: fit-content;
}

.cell {
  font-size: 0.75vw;
  width: fit-content;
  border-left: 1px solid silver;
}
