.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  text-align: center;
  background-color: white;
  border-radius: 1rem;
}

.formTitle {
  width: 75%;
  word-wrap: normal;
}

.inputForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 30rem;
  padding: 2rem;
  text-align: left;
}

.actionBar {
  display: flex;
  justify-content: center;
  align-content: center;
}

.navButton {
  text-decoration: none;
}

.hidden {
  display: none;
}
