.control {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.controlInput {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.controlInput span {
  position: absolute;
  width: fit-content;
  height: fit-content;
}

.control label,
.control input {
  display: block;
}

.control label {
  flex: 1;
  color: #6d6d6d;
}

.control input {
  flex: 3;
  font: inherit;
  padding: 1rem 1rem;
  border-radius: 6px;
  border: 0.1rem solid #ccc;
}

.control input:hover {
  border: 0.1rem solid #646464;
}

.control input:focus {
  border: 0.15rem solid #5a78ff;
  outline: none;
}

/*Read Only Styles*/
.control input:read-only {
  background-color: #cfcfcf;
  cursor: default;
}

.control input:read-only:focus {
  background-color: #cfcfcf;
  cursor: default;
  border: 0.1rem solid #ccc;
}

.control input:read-only:hover {
  border-radius: 6px;
  border: 0.1rem solid #ccc;
}

/*Disabled Styles*/
.control input:disabled {
  background-color: #a3a3a3;
  cursor: default;
}

.control input:disabled:focus {
  background-color: #a3a3a3;
  cursor: default;
  border: 0.1rem solid #ccc;
}

.control input:disabled:hover {
  border-radius: 6px;
  border: 0.1rem solid #ccc;
}

.control.invalid input {
  border-color: red;
  background: #fbdada;
}
